/* основное */
* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

.nav {
  background-color: #adad85;
}

.nav ul {
  list-style: none;
}

.nav > ul{
  display: inline;
}

.nav a {
  text-decoration: none;
  text-align: center;
  color: #5c5c3d;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 40px;
}

.nav li {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: 60px;
  font-family: fantasy;
  color: #5c5c3d;
}

.dropmenu {
  display: none;
    background-color: black;
    min-width: 200px;
}

.dropmenu a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.nav:hover .dropmenu {
    display: block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.menu {
  background-color: #EE82EE;
  color: white;
  border: 20px;
  cursor: pointer;
  padding:20px;
  margin-top:20px;
  font-size: 150%;
  font-family: Brush Script MT, cursive;
}

.menu:hover {
  background-color: #DA70D6;
  transition: 0.3s ease;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main {
  float: left;
  background-color: white;
  margin-left: 8%;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  width: 30%;
  font-size: 120%;
}

.main img {
  height: 400%;
  border-radius: 20px;
}

.sidel {
  float: left;
  width: 15%;
  margin-top: 5%;
  margin-left: 1%;
}

.sider {
  padding-top: 5%;
  padding-right: 5%;
  float: right;
  width: 15%;
}

.sider img{
  max-width: 100%;
  border-radius: 20px;
}

.footer {
  text-align: right;
  clear: both;
  font-size: 36px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}

html {
  background-color: #EE82EE;
  font-family: Brush Script MT, cursive;
  height: 80px;
  width: 100%;
}

@media print {

}


/* 2.1 */
.author {
  padding-left: 60%;
  width: 80%;
  font-size: 120%;
}

.stih {
  font-size: 150%;
  text-align: center;
}

.header {
  text-align: center;
  font-size: 180%;
  margin-bottom: 2%;
}
